.project-description {
    & p {
        margin-bottom: 0.75rem;

        &:last-child {
            margin-bottom: unset;
        }
    }

    & a {
        color: rgb(126 34 206);
        
        &:hover {
            color: rgb(168 85 247);
        }
    }
}