.front_description {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    &[data-short="true"] {
        display: flex;

        @media (min-width: 640px) {
            display: none
        }
    }

    &[data-long="true"] {
        display: none;

        @media (min-width: 640px) {
            display: flex
        }
    }
}