@keyframes move-down-keys {
    from {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    to {
        margin-top: 0rem;
        margin-bottom: 1rem
    }
}

.hero-action.move-down {
    animation: move-down-keys infinite ease-out alternate-reverse 0.75s;
}

:where(.hero-long, .hero-short) {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.hero-short {
    @media (min-width: 640px) {
        display: none;
    }
}

.hero-long {
    display: none;

    @media (min-width: 640px) {
        display: flex;
    }
}