@keyframes move-down-keys {
    from {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    to {
        margin-top: 0rem;
        margin-bottom: 1rem
    }
}

.hero-action.move-down {
    animation: move-down-keys infinite ease-out alternate-reverse 0.75s;
}

:where(.hero-long, .hero-short) {
    flex-direction: column;

    text-align: center;
    padding: 1rem;

    & p {
        margin-bottom: 0.75rem;

        &:last-child {
            margin-bottom: unset;
        }
    }

    & a {
        color: rgb(126 34 206);

        &:hover {
            color: rgb(168 85 247);
        }
    }
}

.hero-short {
    @media (min-width: 640px) {
        display: none;
    }
}

.hero-long {
    display: none;

    @media (min-width: 640px) {
        display: flex;
    }
}