@keyframes loading-keys {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: "";

        $width: 4vmin;
        $height: $width * 12.5;

        position: absolute;
        background-color: currentColor;
        height: $height;
        width: $width;
        animation: loading-keys infinite steps(8) 1.25s;
        border-radius: $width * 0.1;
    }
}